/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  /* 1.hide navbar */
  .navbar {
    display: none;
  }
  /* 2.logo center */
  .header-top {
    position: relative;
  }

  .header__logo {
    position: absolute;
    translate: -50% -50%;
    left: 50%;
  }
  /* 3.navigation icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    height: 26px;
    width: 36px;
    color: #ffffff;
  }
  /* 4.overlay */
  .menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 5.menu drawer */
  .menu-drawer {
    position: fixed;
    background: #000000d5;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 30px;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: rotateX(0);
  }
  /* 6.menu top */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close__menu {
    width: 24px;
    color: #ffffff;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    font-size: 2rem;
  }

  .navbar__link:hover {
    background: #137d9a;
  }
  /* 7.hero block */
  .hero {
    flex-direction: column;
    row-gap: 30px;
  }

  .hero__content {
    order: 2;
    width: 90%;
    text-align: center;
    margin: 20px auto;
  }

  .hero__media {
    order: 1;
  }

  .hero__row {
    justify-content: center;
  }
  /* 8.service block */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }

  .service__img {
    width: 100%;
    height: auto;
  }

  .service-item {
    width: 90%;
  }

  .service__btn {
    display: block;
    width: 30%;
    margin: 20px auto;
  }
  /* 9.how it works*/
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* 10.about us */
  .about__media {
    width: 90%;
  }

  .about-content {
    width: 80%;
    text-align: center;
  }

  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }

  .about__img--large {
    width: 100%;
    border-radius: 10px;
  }

  .about__img--small {
    display: none;
  }
  /* 11.our team */
  .team__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .team-item__thumb {
    margin: auto;
  }
  /* 12.cta */
  .install__img {
    display: none;
  }

  .install__content {
    width: 90%;
    margin: 0 auto;
  }
  /* 13.blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .blog__list {
    order: 1;
  }

  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__heading {
    max-width: 100%;
  }
  /* 14.appointment */
  .appointment__inner {
    padding: 20px 20px 0;
    text-align: center;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hidden__column {
    display: none;
  }

  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  .show-on__mobile {
    display: none;
  }
}

/* mobile */
@media (max-width: 767.98px) {
  /* 1.header */
  .header__action {
    display: none;
  }

  .menu-header__icon {
    top: 16px;
  }

  .navbar__item {
    list-style: none;
  }

  .separate {
    border-top: 3px solid #ffffff;
    margin: 15px 0;
  }
  /* 2.hero */
  .hero__img--small {
    display: none;
  }

  .hero__img--large {
    width: 100%;
    height: auto;
  }

  .hero__heading {
    font-size: 4rem;
  }

  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }
  /* 3.service */
  .service {
    padding: 70px 0px;
  }

  .service__desc {
    width: 90%;
  }

  .service__img {
    height: auto;
  }
  /* 4.how it work */
  .work {
    width: 100%;
  }
  .work__heading,
  .work__desc {
    width: 100%;
    text-align: center;
  }
  /* 5.about us */
  .about {
    margin-top: 20px;
    padding: 40px 0px;
  }

  .section-heading {
    font-size: 4rem;
  }
  /* 6.our team */
  .team__list {
    grid-template-columns: 1fr;
  }
  /* 7.CTA */
  .install {
    margin-top: 50px;
  }
  .install__inner {
    margin: 0px;
    padding: 0 8px;
  }

  .install__content {
    font-size: 4rem;
  }
  /* 8.blog */
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .blog-item {
    width: 100%;
  }

  .blog-item__thumb {
    width: 100%;
  }

  .blog__heading {
    text-align: center;
  }
  /* footer */
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer__copyright {
    margin-top: 30px;
  }
}
