/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  /* hide navbar */
  .navbar {
    display: none;
  }
  /* logo center */
  .header-top {
    position: relative;
  }

  .header__logo {
    position: absolute;
    translate: -50% -50%;
    left: 50%;
  }
  /* navigation icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    height: 16px;
    width: 24px;
    color: #ffffff;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* menu drawer */
  .menu-drawer {
    position: fixed;
    background: #000000d5;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 30px;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: rotateX(0);
  }
  /* menu top */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close__menu {
    width: 24px;
    color: #ffffff;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }
}

/* tablet */
@media (max-width: 768px) and (min-width: 991.98px) {
}

/* mobile */
@media (max-width: 767.98px) {
}
